services:
  gateway:
    image: nginx:latest
    container_name: local-gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./www/:/usr/share/nginx/html/:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      # - ./certificates/cert.key:/etc/nginx/ssl/cert.key:ro
      # - ./certificates/cert.crt:/etc/nginx/ssl/cert.crt:ro
      - ./certificates/lab.local+3-key.pem:/etc/nginx/ssl/cert.key:ro
      - ./certificates/lab.local+3.pem:/etc/nginx/ssl/cert.crt:ro
    restart: always
    extra_hosts:
      - "host.docker.internal:127.0.0.1"
    network_mode: "host"

  mongodb:
    image: mongo
    container_name: local-mongodb
    ports:
      - 27017:27017
    volumes:
      - local-mongodb:/data/db

  mysqldb:
    image: mysql:latest
    container_name: local-mysqldb
    environment:
     - MYSQL_ALLOW_EMPTY_PASSWORD=true
     - MYSQL_DATABASE=local-db
    ports:
      - "3306:3306"
    volumes:
     - local-mysqldb:/var/lib/mysql

  # home-lamp:
  #   image: home-lamp:latest
  #   container_name: home-lamp
  #   environment:
  #     - PORT=8979
  #     - LAMP_MAC_ADDRESS=D6:5A:AD:D3:6C:87
  #   ports:
  #     - "8979:8979"
  #   restart: always
  #   volumes:
  #     - /var/run/dbus/:/var/run/dbus/:z

  blober:
    image: blober-server
    container_name: blober-server
    environment:
      - PORT=8007
      - MONGODB_URI=mongodb://host.docker.internal:27017
      - HOST=localhost
      - ROOT_FOLDER=/var/tmp/blober
    extra_hosts:
      - "host.docker.internal:127.0.0.1"
    network_mode: "host"
    ports:
      - "8007:8007"
    volumes:
      - blober-files:/var/tmp

  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      # Optional: put your config options customization here. Examples:
      ND_LOGLEVEL: debug
      ND_SCANSCHEDULE: "@every 15m"
      # ND_BASEURL: https://music.local 
    volumes:
      - "/home/beto0607/.local/navidrome/:/data"
      - "/home/beto0607/Music/:/music:ro"


volumes:
  local-mongodb:
    external: true
  local-mysqldb:
    external: true
  blober-mongodb:
    external: true
  blober-files:
    external: true
